/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Anton|Nunito:300,400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after {
  box-sizing: border-box;
  transition: all ease-in-out 250ms; }

.logo .logo-content, nav .nav-content, .slideshow .slideshow-content, .featured, .carnivores, .herbivores {
  max-width: 1180px; }

body {
  background-color: #F0F0F0;
  font-family: 'Nunito', sans-serif; }

.logo {
  background: #222222; }
  .logo .logo-content {
    margin: 0 auto;
    color: #949494;
    display: flex;
    background-color: #222222;
    justify-content: space-between; }
    .logo .logo-content .green {
      color: #7de8ad; }
    .logo .logo-content h1 {
      color: white;
      margin-top: 25px;
      font-size: 1.8em;
      font-family: 'Anton', sans-serif; }
      .logo .logo-content h1:hover {
        color: #7de8ad;
        cursor: pointer; }
    .logo .logo-content .icons {
      margin-top: 25px;
      width: 80px;
      display: flex;
      justify-content: space-between;
      font-size: 1.5em; }
      .logo .logo-content .icons i:hover {
        color: #7de8ad;
        cursor: pointer; }

nav {
  height: 59px;
  background: #222222; }
  nav .nav-content {
    margin: 0 auto;
    display: flex;
    height: 100%; }
    nav .nav-content ul {
      align-self: center;
      display: flex;
      justify-content: flex-start; }
      nav .nav-content ul li {
        list-style: none;
        margin-right: 2vw; }
        nav .nav-content ul li a {
          color: #949494;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 0.8em; }
          nav .nav-content ul li a:hover {
            color: white; }

.slideshow {
  background-color: purple; }
  .slideshow img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
    filter: grayscale(0.7); }
  .slideshow .slideshow-content {
    margin: 0 auto;
    display: flex;
    height: 100%;
    position: relative; }
    .slideshow .slideshow-content .slideshow-caption {
      padding: 10px;
      position: absolute;
      bottom: 100px;
      left: 0; }
      .slideshow .slideshow-content .slideshow-caption h1 {
        font-size: 2.5em;
        padding: 25px 10px;
        background-color: #7de8ad;
        text-transform: uppercase;
        letter-spacing: -2px;
        color: #222222; }
        .slideshow .slideshow-content .slideshow-caption h1:hover {
          background: #1fad5f;
          cursor: pointer; }
      .slideshow .slideshow-content .slideshow-caption .sub-tag {
        margin-top: -8px; }
      .slideshow .slideshow-content .slideshow-caption h3 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        background: #222222;
        height: 40px;
        color: white; }
        .slideshow .slideshow-content .slideshow-caption h3:hover {
          background: #555555;
          cursor: pointer; }
      .slideshow .slideshow-content .slideshow-caption i {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 40px;
        height: 40px;
        background: #222222; }
        .slideshow .slideshow-content .slideshow-caption i:hover {
          background: #555555;
          cursor: pointer; }

.featured {
  background-color: #F0F0F0;
  top: -50px;
  position: relative;
  z-index: 20;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .featured .item {
    margin: 1px;
    padding: 20px;
    background-color: white;
    flex: 1;
    text-align: center; }
    .featured .item:hover {
      background-color: #F0F0F0;
      cursor: pointer; }
      .featured .item:hover > h5 {
        color: #1fad5f; }
  .featured img {
    max-width: 300px;
    margin: 25px; }
  .featured h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em; }
  .featured h5 {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 0.8em;
    font-weight: bold;
    color: #7de8ad; }

.carnivores .dino:first-child:hover:after {
  filter: grayscale(1) brightness(0.3); }
.carnivores .dino:first-child:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: grayscale(1) brightness(0.6);
  background: url("../img/carnivore.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%; }

.herbivores .dino:first-child:hover:after {
  filter: grayscale(1) brightness(0.3); }
.herbivores .dino:first-child:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: grayscale(1) brightness(0.6);
  background: url("../img/herbivore.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%; }

.carnivores, .herbivores {
  background-color: #F0F0F0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .carnivores .dino, .herbivores .dino {
    position: relative;
    min-width: 200px;
    min-height: 200px;
    margin: 1px;
    background-color: white;
    flex: 1;
    text-align: center; }
    .carnivores .dino:hover, .herbivores .dino:hover {
      background-color: #F0F0F0;
      cursor: pointer; }
      .carnivores .dino:hover > h5, .herbivores .dino:hover > h5 {
        color: #1fad5f; }
      .carnivores .dino:hover > .view, .herbivores .dino:hover > .view {
        opacity: 1;
        top: 50%; }
    .carnivores .dino .view, .herbivores .dino .view {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-decoration: none;
      background: #7de8ad;
      color: white;
      padding: 10px 15px;
      opacity: 0; }
    .carnivores .dino:first-child, .herbivores .dino:first-child {
      position: relative; }
      .carnivores .dino:first-child h2, .herbivores .dino:first-child h2 {
        position: absolute;
        bottom: 60px;
        padding: 10px 15px;
        font-size: 1.6em;
        background: #7de8ad;
        color: white;
        z-index: 2; }
      .carnivores .dino:first-child h5, .herbivores .dino:first-child h5 {
        position: absolute;
        font-size: .8em;
        color: white;
        position: absolute;
        bottom: 30px;
        padding: 10px 20px;
        z-index: 2; }
  .carnivores img, .herbivores img {
    max-width: 200px; }
  .carnivores h4, .herbivores h4 {
    font-weight: bold; }
  .carnivores p, .herbivores p {
    padding: 10px; }
  .carnivores .sold-out, .herbivores .sold-out {
    color: red;
    font-weight: bold; }

@media screen and (max-width: 1180px) {
  .logo {
    padding: 0 10px;
    height: 59px; }
    .logo .logo-content {
      padding-top: 12px; }
      .logo .logo-content h1 {
        margin: 0; }
      .logo .logo-content .icons {
        margin: 0; }

  nav {
    display: none; } }

/*# sourceMappingURL=application.css.map */
